<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registre-se</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Registrar Profissional</h1>
        <form method="POST" action="/register">
        <input type="text" name="usuario" placeholder="Usuário" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <input type="text" name="nome_completo" placeholder="Nome Completo" required><br>
        <input type="text" name="registro_profissional" placeholder="Registro Profissional" required><br>
        <input type="text" name="especialidade" placeholder="Especialidade" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <button type="submit">Registrar</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="messages">
          {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

        <p>Já tem conta? <a href="/login">Entrar</a></p>
    </div>
</body>
</html>
