<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha - Sistema de Altas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Redefinir Senha</h1>
        <form method="POST">
            <input type="text" name="usuario_email" placeholder="Usuário ou Email" required>
            <button type="submit">Enviar código</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endwith %}

        <div class="links">
            <p><a href="/login">Voltar ao login</a></p>
        </div>
    </div>
</body>
</html>
